doctype html
html(lang='en')
  head(ng-app="socialSldie")
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/social-slide.css')
  body(ng-controller='mainController')
    ul
      li
        div.dropdown
          a(href='javascript:void(0)').dropbtn •••
          div.dropdown_items
            a(href='') About
            a(href='') Settings
            a(href='') Social Slide
    scirpt(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
    script(src='social-slide-controller.js')

  block content
