extends layout

block content
    div.container
        form(action='/settings' method='POST')
            input(type='text' placeholder='example...' name='example')
            input(type='text' placeholder='example...' name='example1')
            button(type='submit') Save