extends layout

block content
    - var isVideo = false;
        if isVideo
            div().video
        else
            div(style='background-image: url( {{ socialPost.postImgUrl }})').rear_img
            img(ng-src='{{ socialPost.postImgUrl }}').front_img

    div.sm_post
        img#avatar(ng-src='{{ socialPost.postAvatarUrl }}')
        img#sm_logo(ng-src='{{ socialPost.smPlatformLogo }}')
        div#txt_name.
            {{ socialPost.name }}
        div#txt_username.
            {{ socialPost.userName }}
        div#txt_content.
            {{ socialPost.postContent }}
        div#txt_date.
            {{ socialPost.postDate }}