extends layout

block content
    div(ng-controller="SocialController")
        div(style='background-image: url({{ postImageSrc }})').rear_img
        img(ng-src="{{ postImageSrc}}" fade-in).front_img
        div.sm_post
            img#avatar(ng-src='{{ postAvatarUrl }}')
            img#sm_logo(ng-src='{{ postPlatformLogo }}')
            div#txt_name <strong> {{postName}} </strong>
            div#txt_username {{postUserName}}
            div#txt_content <strong> {{postContent}} </strong>
            div#txt_date <strong> {{postDate}} </strong>