extends layout

block content

    div.chart_container1
        canvas#social_chart1

    div.chart_container2
        canvas#social_chart2

    img(src='/images/logos/twitter-logo.png')

    script(src='')