extends layout

block content
    div(ng-controller="StatController")
        div.chart_container1
            canvas#posts_of_week
        div.chart_container2
            canvas#total_daily_posts
        img(src='/images/logos/twitter-logo.png')#chart_logo
        script(src='/javascripts/controllers/charts/chart-loader.js')
