.container {
    width: 60%;
    height: auto;
    margin: auto;
    position: relative;
}

.general_container, .whitelist_container, .blacklist_container {
    margin: 5%;
    padding: 5%;
    box-shadow: 0 4px 8px RGBA(0,0,0,0.2), 0 6px 20px 0 RGBA(0,0,0,0.19);
    background-color: #FFFFFF;

}

.instructions {
    background-color: RGB(242,242,242);
    padding:20px;
}

.btn {
    width: 10%;
    float: right;
    cursor: pointer;
    padding: 10px 18px;
}

h1 {
    margin-bottom: 30px;
}

hr {
    border: 0;
    height: 1px;
    background-color: RGB(255,1,128);
    margin: 40px 0 40px 0;
}

label {
    display: block;
    float: left;
    width: 25%;
    margin-right: 5%;
}

input[type=text], input[type=number], select {
    width: 30%;
    padding: 10px 18px;
    box-sizing: border-box;
    border-style: none;
    border-bottom: 2px solid RGB(255, 1, 128);
    box-shadow: 0 4px 8px RGBA(0,0,0,0.2), 0 6px 20px 0 RGBA(0,0,0,0.19);
    background-color: #FFFFFF;

}
input[type=text]:focus, input[type=number]:focus, select:focus {
    
    background-color: RGB(255, 1, 128);
    color: #FFFFFF;

}
.request_message {
    margin: 5%;
    padding: 15px;
    font-size: 125%;
    background-color: RGB(255, 1, 128);
    box-shadow: 0 4px 8px RGBA(0,0,0,0.2), 0 6px 20px 0 RGBA(0,0,0,0.19);
}
.close_btn {
    margin-left: 15px;
    color: #FFFFFF;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s
}
.close_btn:hover {
    color: #000000
}